body {
    margin: 0;
}

.App {
    display: flex;
    justify-content: center;
}

.container {
    width: 665px;
    display: grid;
    grid-template-areas: "menu listElements";
    grid-template-columns: 152px 1fr;
    height: 100vh;
}

.container__info {
    padding: 19px 59px 0 34px;
    overflow: auto;
}