@import "../../variables";

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.loadingSpinner {
    grid-area: loader;
    justify-self: flex-end;
    width: 20px;
    height: 20px;
    border: 2px solid $buttonsBgColor;
    border-top-color: transparent;
    border-radius: 50%;

    animation: rotate 1s infinite linear;
};
