@import "../../variables";

.list__header {
    @include header();
}

.list__resultCount {
    @include textStyle();
    text-align: right;
    margin-top: 10px;
}

.list__cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.list__card {
    display: grid;
    grid-template-columns: 1fr min-content;
    box-sizing: border-box;
    width: 420px;
    padding: 10px;
    border-radius: 8px;
    background-color: #F3F3F3;

    & .list__cardContent,
    .list__more {
        font-weight: 400;
        font-family: $fontFamily;
        font-style: normal;
    }

    & .list__cardContentContainer {
        display: flex;
        flex-direction: column;
        gap: 7px
    }

    & .list__cardContent {
        margin: 0;
        font-size: 11px;
        line-height: 13px;

        & .list__cardContentTitle {
            margin-right: 7px;
            color: #A3A3A3;
        }
    }

    & .list__more {
        align-self: end;
        margin: 0;
        font-size: 12px;
        line-height: 14px;
        text-decoration: none;
        color: #4B51EF;
        cursor: pointer;
    }
}
