@import "../../variables";

.cardBlock__form {
    width: 438px;
}

.cardBlock__header {
    @include header();
}

.cardBlock__editBtn {
    @include buttons($height: 27.12px, $width: 116.67px);
    @include textStyle;
    margin-bottom: $pageNameMarginBottom;
}

.cardBlock__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardBlock_editBtn_isActive {
    @include pressedBtn;
}