$fontFamily: 'Roboto',
sans-serif;
$buttonsBgColor: #4B51EF;
$buttonsFontColor: #FFFFFF;
$activeBtnColor: #52CF4F;

@mixin textStyle {
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    font-family: $fontFamily;
    font-style: normal;
}

@mixin header {
    margin: 0 0 16px 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    font-family: $fontFamily;
    font-style: normal;
}

@mixin buttons($height) {
    height: $height;
    width: max-content;
    padding: 5.02px 15.2px;
    border: none;
    border-radius: 5px;
    color: $buttonsFontColor;
    background-color: $buttonsBgColor;
    cursor: pointer;

    &:hover {
        box-shadow: 0 2px 7px #ffffff;
    }
}