@import "../../../variables";

.sendForm__container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.sendForm__resultText {
    @include textStyle;
    text-align: right;
    margin-top: 10px;
}